<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shahedmedicine2">
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.shahedmedicine2.MyUsersActivity"></activity>
        <activity
            android:name="com.example.shahedmedicine2.MainMedicineActivity"
            android:label="@string/title_activity_main_tasks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.shahedmedicine2.TempAllTaskActivity" />
        <activity android:name="com.example.shahedmedicine2.SignInActivity" />
        <activity android:name="com.example.shahedmedicine2.SignUpActivity" />
        <activity android:name="com.example.shahedmedicine2.AddMedicinectivity" />
        <activity android:name="com.example.shahedmedicine2.TestMainActivity" />
        <activity android:name="com.example.shahedmedicine2.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>